# We use the deploy private key in deploy.js for crafting signatures
# for deploying the ambire accounts, factory, etc.
DEPLOY_PRIVATE_KEY=

# Use this if you wish to broadcast transactions
# https://dashboard.pimlico.io/
PIMLICO_API_KEY=